{% extends 'base.html.twig' %}

{%  block body %}

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					{% for flash_error in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
					{% block stylesheet  %}
						{{ encore_entry_link_tags('app') }}
					{% endblock %}
					{{ is_granted('ROLE_ADMIN') ? 'style="background-color: red !important"' }}
					<div class="card-header">{{'Edit Profile'}}</div>
					<div class="card-body">
						{{ form_start(form) }}
						<div class="row mb-3">
							<div class"col-md-6">
								{{ form_row(form.username, {
                                label: 'Email'
                             }) }}

							</div>
						</div>

						{{ form_row(form.pseudo, {
                                label: 'Nickname'
                            }) }}

							
						{{ form_row(form.password, {
                                label: 'Password'
                            }) }}
						


						<button id="button" type="submit" class="btn btn-primary">Edit</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
			<div>
				<div>

				{% endblock %}
